@model IEnumerable<DomainModel.Models.Subnet>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="~/Scripts/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/DataTables/dataTables.buttons.js"></script>
    <link href="~/Content/DataTables/css/buttons.dataTables.css" rel="stylesheet"/>
    <link href="~/content/DataTables/css/jquery.dataTables.css" rel="stylesheet" />
    <script src="~/Scripts/Index.js"></script>
</head>
<div id="table_wrapper">
    <table id="subnetTable" class="display">
        <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Сеть</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>
</div>

<div class="create_editor">
    <p>Введите Идентификатор Сети (Идентификатор должен быть уникален, длины не более 255 символов)</p>
    <input type="text" id="new_id" placeholder="ID"/>
    <br/>
    <p>Введите Адрес Сети (Например, 224.10.0.2)</p>
    <input type="text" id="new_address" placeholder="d[dd].d[dd].d[dd].d[dd]"/>
    <br/>
    <p>Введите Маску Сети (Число от 0 до 32)</p>
    <input type="text" id="new_mask" placeholder="d[d]"/>
    <br/>
    <button id="submit_new_subnet">Добавить Сеть</button>
    <br/>
</div>

<div id="log_block">
    <label>Операция завершилась с результатом:</label>
    <label id="log_label">Не было произведено операций.</label>
</div>

<button id="getCoverage">Построить Минимальное Покрытие</button>

<div id="coverage_table_wrapper">
    <table id="coverageTable" class="display" cellspacing="0">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Сеть</th>
                <th>Потомки</th>
            </tr>
        </thead>
    </table>
</div>

<div id="editModal">
    <div class="create_editor modal-content">
        <p>Введите Идентификатор Сети (Идентификатор уникален, но может совпадать
         с идентификатором изменяемого поля, длины не более 255 символов)</p>
        <input type="text" id="edit_id"  placeholder="ID" />
        <br />
        <p>Введите Адрес Сети (Например, 224.10.0.2)</p>
        <input type="text" id="edit_address" placeholder="d[dd].d[dd].d[dd].d[dd]" />
        <br />
        <p>Введите Маску Сети (Число от 0 до 32)</p>
        <input type="text" id="edit_mask" placeholder="d[d]" />
        <br />
        <button id="submit_editted_subnet">Изменить Сеть</button>
        <br />
    </div>
</div>